<?xml version="1.0"?>
<!--
/**
 * ScaleWorks Bitcoin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@scaleworks.co so we can send you a copy immediately.
 *
 * @category    ScaleWorks
 * @package     ScaleWorks_Bitcoin
 * @copyright   Copyright (c) 2011 Ticean Bennett (http://www.scaleworks.co)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <ScaleWorks_Bitcoin>
            <version>0.1.1</version>
        </ScaleWorks_Bitcoin>
    </modules>
    <global>
        <blocks>
            <bitcoin><class>ScaleWorks_Bitcoin_Block</class></bitcoin>
            <checkout>
                <rewrite>
                    <cart_totals>ScaleWorks_Bitcoin_Block_Checkout_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <bitcoin><class>ScaleWorks_Bitcoin_Model</class></bitcoin>
            <directory>
                <rewrite>
                    <currency_import_webservicex>ScaleWorks_Bitcoin_Model_Currency_Import_Webservicex</currency_import_webservicex>
                </rewrite>
            </directory>
            <sales_mysql4>
                <rewrite>
                    <order_collection>ScaleWorks_Bitcoin_Model_Mysql4_Sales_Order_Collection</order_collection>
                </rewrite>
            </sales_mysql4>
        </models>
        <helpers>
            <bitcoin><class>ScaleWorks_Bitcoin_Helper</class></bitcoin>
        </helpers>
        <resources>
            <bitcoin_setup>
                <setup>
                    <module>ScaleWorks_Bitcoin</module>
                </setup>
            </bitcoin_setup>
        </resources>
        <currency>
            <import>
                <services>
                    <bitcoincharts>
                        <name>Bitcoincharts</name>
                        <model>bitcoin/currency_import_bitcoincharts</model>
                    </bitcoincharts>
                </services>
            </import>
        </currency>
        <fieldsets>
            <sales_convert_quote_payment>
                <bitcoin_payment_address><to_order_payment>*</to_order_payment></bitcoin_payment_address>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <bitcoin_payment_address><to_quote_payment>*</to_quote_payment></bitcoin_payment_address>
            </sales_convert_order_payment>
        </fieldsets>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <bitcoin>
                    <file>scaleworks/bitcoin.xml</file>
                </bitcoin>
            </updates>
        </layout>
    </adminhtml>
    
    <admin>
         <routers>
            <bitcoin>
                <use>admin</use>
                <args>
                    <module>ScaleWorks_Bitcoin</module>
                    <frontName>bitcoin</frontName>
                </args>
            </bitcoin>
        </routers>
    </admin>

    <frontend>
        <translate>
            <modules>
                <ScaleWorks_Bitcoin>
                    <files>
                        <default>ScaleWorks_Bitcoin.csv</default>
                    </files>
                </ScaleWorks_Bitcoin>
            </modules>
        </translate>

        <layout>
            <updates>
                <bitcoin>
                    <file>scaleworks/bitcoin.xml</file>
                </bitcoin>
            </updates>
        </layout>
    </frontend>

    <default>
        <system>
            <currency>
                <installed>AZN,AZM,AFN,ALL,DZD,AOA,ARS,AMD,AWG,AUD,BSD,BHD,BDT,BBD,BYR,BZD,BMD,BTC,BTN,BOB,BAM,BWP,BRL,GBP,BND,BGN,BUK,BIF,KHR,CAD,CVE,CZK,KYD,CLP,CNY,COP,KMF,CDF,CRC,HRK,CUP,DKK,DJF,DOP,XCD,EGP,SVC,GQE,ERN,EEK,ETB,EUR,FKP,FJD,GMD,GEK,GEL,GHS,GIP,GTQ,GNF,GYD,HTG,HNL,HKD,HUF,ISK,INR,IDR,IRR,IQD,ILS,JMD,JPY,JOD,KZT,KES,KWD,KGS,LAK,LVL,LBP,LSL,LRD,LYD,LTL,MOP,MKD,MGA,MWK,MYR,MVR,LSM,MRO,MUR,MXN,MDL,MNT,MAD,MZN,MMK,NAD,NPR,ANG,TRL,TRY,NZD,NIC,NGN,KPW,NOK,OMR,PKR,PAB,PGK,PYG,PEN,PHP,PLN,QAR,RHD,RON,ROL,RUB,RWF,SHP,STD,SAR,RSD,SCR,SLL,SGD,SKK,SBD,SOS,ZAR,KRW,LKR,SDG,SRD,SZL,SEK,CHF,SYP,TWD,TJS,TZS,THB,TOP,TTD,TND,TMM,USD,UGX,UAH,AED,UYU,UZS,VUV,VEB,VEF,VND,CHE,CHW,XOF,XPF,WST,YER,ZMK,ZWD</installed>
            </currency>
        </system>
        <currency>
            <options>
                <allow>USD,EUR,BTC</allow>
            </options>
            <bitcoincharts>
                <timeout>100</timeout>
            </bitcoincharts>
            <import>
                <enabled>0</enabled>
                <error_email><![CDATA[]]></error_email>
                <error_email_identity>general</error_email_identity>
                <error_email_template>currency_import_error_email_template</error_email_template>
            </import>
        </currency>
        <payment>
            <bitcoin>
                <active>1</active>
                <title>Bitcoin</title>
                <model>bitcoin/payment_method_bitcoin</model>
                <bitcoind_https>1</bitcoind_https>
                <bitcoind_host>127.0.0.1</bitcoind_host>
                <bitcoind_port>8332</bitcoind_port>
                <bitcoind_username></bitcoind_username>
                <bitcoind_password></bitcoind_password>
                <minimum_confirmations>5</minimum_confirmations>
                <expire_after_days>14</expire_after_days>
                <debug>0</debug>
                <order_status>pending</order_status>
                <group>offline</group>
            </bitcoin>
        </payment>
    </default>

    <crontab>
        <jobs>
            <bitcoin_fetch_confirmations>
                <run><model>bitcoin/observer::fetchConfirmations</model></run>
            </bitcoin_fetch_confirmations>
        </jobs>
    </crontab>
    
</config>
